.git
.gitignore
.vscode
*.md
*.png
*.log
.env
.env.*
!.env.example
Dockerfile
docker-compose.yml
fly.toml
koyeb.yml
zeabur.json
northflank.json
adaptable.json
.qovery.yml
.platform.app.yaml
clevercloud/
scalingo.json
glitch.json
replit.toml
captain-definition
Detafile
porter.yaml
app.json
runtime.txt
.gitpod.yml
sandbox.config.json
railway.json
render.yaml
Procfile
requirements.txt
manifest.json
teamdev_terminal_ui.html
terminal_server.py